* {
    box-sizing : border-box;
}

body {
    margin: 0 ;
    padding : 0;
    background: black;
    display : flex ;
    min-height : 100vh;
    color: white;
}

h1 {
    color:  white ;
}

aside {
    background : orange;
    width: 300px;
    padding: 1rem;
    color:  black;
}